In [1]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import * 
from sklearn.metrics import *
from sklearn.linear_model import LogisticRegression

# from autogluon.tabular import TabularDataset, TabularPredictor

In [ ]:
BASE = '/Users/jimmyhe/Desktop/NCAA/ModelBuilding/'
COMP = '/Users/jimmyhe/Desktop/NCAA/march-machine-learning-mania-2025/'
M1 = pd.read_csv(BASE +  'concatenated_features_df.csv')
M2 = pd.read_csv(BASE +  'dif_features_df.csv')
M1 = M1.drop(columns= ['Unnamed: 0', 'FirstID', 'SecondID', 'Team1_TeamName','Team2_TeamName'])
M2 =  M2.drop(columns= ['Unnamed: 0', 'Target', 'FirstID', 'SecondID', 'Season', 'Team1_TeamName','Team2_TeamName'])
Team_data_source = pd.read_csv(BASE + 'DataSource.csv')
M1.shape, M2.shape
#M1 stores the metrics for each team and M2 stores the difference in metrics. View it as a sort
#of feature engineering

((400, 65), (400, 32))

In [31]:
BASE = '/Users/jimmyhe/Desktop/NCAA/ModelBuilding/'
COMP = '/Users/jimmyhe/Desktop/NCAA/march-machine-learning-mania-2025/'
M1 = pd.read_csv(BASE +  'concatenated_features_df.csv')
M2 = pd.read_csv(BASE +  'dif_features_df.csv')
M1.columns

Index(['Unnamed: 0', 'ID', 'Target', 'FirstID', 'SecondID', 'Season',
       'Team1_TeamName', 'Team1_count', 'Team1_win_count', 'Team1_gap_avg',
       'Team1_win_rate', 'Team1_Seed', 'Team1_Rating', 'Team1_Rk',
       'Team1_NetRtg', 'Team1_ORtg', 'Team1_DRtg', 'Team1_AdjT', 'Team1_WIL',
       'Team1_JNG', 'Team1_7OT', 'Team1_MAS', 'Team1_JJK', 'Team1_EBP',
       'Team1_FAS', 'Team1_HAS', 'Team1_DOK', 'Team1_LMC', 'Team1_PGH',
       'Team1_BBT', 'Team1_BIH', 'Team1_TRP', 'Team1_DII', 'Team1_MOR',
       'Team1_TRK', 'Team1_KPK', 'Team1_RT', 'Team1_WLK', 'Team2_TeamName',
       'Team2_count', 'Team2_win_count', 'Team2_gap_avg', 'Team2_win_rate',
       'Team2_Seed', 'Team2_Rating', 'Team2_Rk', 'Team2_NetRtg', 'Team2_ORtg',
       'Team2_DRtg', 'Team2_AdjT', 'Team2_WIL', 'Team2_JNG', 'Team2_7OT',
       'Team2_MAS', 'Team2_JJK', 'Team2_EBP', 'Team2_FAS', 'Team2_HAS',
       'Team2_DOK', 'Team2_LMC', 'Team2_PGH', 'Team2_BBT', 'Team2_BIH',
       'Team2_TRP', 'Team2_DII', 'Team2_MOR', 'Team2_TRK', 'Team2_KPK',
       'Team2_RT', 'Team2_WLK'],
      dtype='object')

In [34]:
M2['Team1_TeamName'].to_csv('final_teamnames.csv')

In [6]:
data_source = pd.read_csv(BASE + 'DataSource.csv')
data_source.columns

Index(['Unnamed: 0', 'Season', 'TeamID', 'TeamName', 'count', 'win_count',
       'gap_avg', 'win_rate', 'Seed', 'Rating', 'Rk', 'NetRtg', 'ORtg', 'DRtg',
       'AdjT', 'WIL', 'JNG', '7OT', 'MAS', 'JJK', 'EBP', 'FAS', 'HAS', 'DOK',
       'LMC', 'PGH', 'BBT', 'BIH', 'TRP', 'DII', 'MOR', 'TRK', 'KPK', 'RT',
       'WLK'],
      dtype='object')

In [7]:
Mteams = pd.read_csv(COMP + 'MTeams.csv')
Wteams = pd.read_csv(COMP + "WTeams.csv")
Wteams.columns

Index(['TeamID', 'TeamName'], dtype='object')

In [28]:
M_train = M1.merge(right = M2, on='ID', how = 'left')
M_train.shape

(400, 96)

In [29]:
M_train.columns

Index(['ID', 'Target', 'Season', 'Team1_count', 'Team1_win_count',
       'Team1_gap_avg', 'Team1_win_rate', 'Team1_Seed', 'Team1_Rating',
       'Team1_Rk', 'Team1_NetRtg', 'Team1_ORtg', 'Team1_DRtg', 'Team1_AdjT',
       'Team1_WIL', 'Team1_JNG', 'Team1_7OT', 'Team1_MAS', 'Team1_JJK',
       'Team1_EBP', 'Team1_FAS', 'Team1_HAS', 'Team1_DOK', 'Team1_LMC',
       'Team1_PGH', 'Team1_BBT', 'Team1_BIH', 'Team1_TRP', 'Team1_DII',
       'Team1_MOR', 'Team1_TRK', 'Team1_KPK', 'Team1_RT', 'Team1_WLK',
       'Team2_count', 'Team2_win_count', 'Team2_gap_avg', 'Team2_win_rate',
       'Team2_Seed', 'Team2_Rating', 'Team2_Rk', 'Team2_NetRtg', 'Team2_ORtg',
       'Team2_DRtg', 'Team2_AdjT', 'Team2_WIL', 'Team2_JNG', 'Team2_7OT',
       'Team2_MAS', 'Team2_JJK', 'Team2_EBP', 'Team2_FAS', 'Team2_HAS',
       'Team2_DOK', 'Team2_LMC', 'Team2_PGH', 'Team2_BBT', 'Team2_BIH',
       'Team2_TRP', 'Team2_DII', 'Team2_MOR', 'Team2_TRK', 'Team2_KPK',
       'Team2_RT', 'Team2_WLK', 'Diff_count', 'Diff_win_count', 'Diff_gap_avg',
       'Diff_win_rate', 'Diff_Seed', 'Diff_Rating', 'Diff_Rk', 'Diff_NetRtg',
       'Diff_ORtg', 'Diff_DRtg', 'Diff_AdjT', 'Diff_WIL', 'Diff_JNG',
       'Diff_7OT', 'Diff_MAS', 'Diff_JJK', 'Diff_EBP', 'Diff_FAS', 'Diff_HAS',
       'Diff_DOK', 'Diff_LMC', 'Diff_PGH', 'Diff_BBT', 'Diff_BIH', 'Diff_TRP',
       'Diff_DII', 'Diff_MOR', 'Diff_TRK', 'Diff_KPK', 'Diff_RT', 'Diff_WLK'],
      dtype='object')

In [18]:
season_results = pd.read_csv('/Users/jimmyhe/Desktop/NCAA/march-machine-learning-mania-2025/MRegularSeasonCompactResults.csv')
season_results

        Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0         1985      20     1228      81     1328      64    N      0
1         1985      25     1106      77     1354      70    H      0
2         1985      25     1112      63     1223      56    H      0
3         1985      25     1165      70     1432      54    H      0
4         1985      25     1192      86     1447      74    H      0
...        ...     ...      ...     ...      ...     ...  ...    ...
192925    2025     132     1196      86     1397      77    N      0
192926    2025     132     1272      84     1412      72    N      0
192927    2025     132     1276      59     1458      53    N      0
192928    2025     132     1433      68     1206      63    N      0
192929    2025     132     1463      90     1165      84    N      0

[192930 rows x 8 columns]

In [19]:
all_teams_series = pd.concat([season_results['WTeamID'], season_results['LTeamID']])
unique_teams = all_teams_series.unique()

#print(unique_teams)
print(len(unique_teams))

380

In [20]:
data_source.head()

,Unnamed: 0,Season,TeamID,TeamName,count,win_count,gap_avg,win_rate,Seed,Rating,...,PGH,BBT,BIH,TRP,DII,MOR,TRK,KPK,RT,WLK
0,0,2025,1120,Auburn,33,28,14.242424,0.848485,1.0,65.690297,...,1,2,1,2,1,4,3,1,2,2
1,1,2025,1181,Duke,34,31,20.794118,0.911765,1.0,66.375404,...,4,1,3,1,2,1,2,2,1,1
2,2,2025,1196,Florida,34,30,16.176471,0.882353,1.0,66.166661,...,2,3,2,4,3,2,4,4,5,3
3,3,2025,1222,Houston,34,30,15.735294,0.882353,1.0,68.295069,...,3,4,4,3,4,3,1,3,3,4
4,4,2025,1104,Alabama,33,25,9.696970,0.757576,2.0,64.908072,...,5,6,6,5,5,5,5,5,6,5

In [21]:
unique_data_team = data_source['TeamID'].unique()
print(len(unique_data_team))

364

In [22]:
final_team_selections = data_source['TeamName'].unique()
final_team_selections = pd.Series(final_team_selections)
final_team_selections.to_csv("final_team_selection.csv", index=False)

In [23]:
final_teams = set(unique_teams) &  set(unique_data_team)
len(final_teams)

364

In [24]:
test_set  = M_train[M_train['Season']==2024] 
train_set = M_train[M_train['Season'] != 2024]
non_feature_cols = ['ID', 'Target', 'FirstID', 'SecondID', 'Season', 
                    'Team1_TeamName', 'Team2_TeamName']

features = [col for col in M_train.columns 
           if col not in non_feature_cols]


train_feature = train_set[features]
train_label = train_set['Target']
test_feature = test_set[features]
test_label = test_set['Target']

In [6]:

def eval_model_prob(model, feature, target):
    pred = model.predict_proba(feature)[:, 1]
    
    print('mse:', ((pred - target.to_numpy())**2).sum() / pred.shape[0])
    
    pred = (pred > 0.5).astype(int)
    # print('auc:', sklearn.metrics.roc_auc_score(pred, target))
    # print('acc:', sklearn.metrics.accuracy_score(pred, target))
    # print('f1:', sklearn.metrics.f1_score(pred, target))
    
train_feature.shape, train_label.shape, test_feature.shape, test_label.shape

((333, 93), (333,), (67, 93), (67,))

In [7]:
model = LogisticRegression(solver='saga')
param_grid = {
    'penalty': ['elasticnet'], 
    # 'C': [1e-6, 1e-5, 1e-4, 1e-3, 1e-2, 1e-1, 1, 10, 100],
    'C': [1e-1, 1], 
    'max_iter': [100_000, 1_000_000], 
    'l1_ratio': [0., 0.25, 0.5, 0.75, 1]
}

search_result_logistic = GridSearchCV(model, param_grid, n_jobs=-1).fit(train_feature, train_label)
eval_model_prob(search_result_logistic.best_estimator_, test_feature, test_label)
search_result_logistic

mse: 0.17940158579897386

GridSearchCV(estimator=LogisticRegression(solver='saga'), n_jobs=-1,
             param_grid={'C': [0.1, 1], 'l1_ratio': [0.0, 0.25, 0.5, 0.75, 1],
                         'max_iter': [100000, 1000000],
                         'penalty': ['elasticnet']})

In [ ]:
M_Final_train = M_train.copy()
M_model = LogisticRegression(solver='saga')

non_feature_cols = ['ID', 'Target', 'FirstID', 'SecondID', 'Season', 
                   'Team1_TeamName', 'Team2_TeamName']

features = [col for col in M_train.columns 
           if col not in non_feature_cols]


final_train_feature = M_Final_train[features]
final_train_label = train_set['Target']
final_train_feature.head()

,Team1_count,Team1_win_count,Team1_gap_avg,Team1_win_rate,Team1_Seed,Team1_Rating,Team1_Rk,Team1_NetRtg,Team1_ORtg,Team1_DRtg,...,Diff_PGH,Diff_BBT,Diff_BIH,Diff_TRP,Diff_DII,Diff_MOR,Diff_TRK,Diff_KPK,Diff_RT,Diff_WLK
0,33,17,-0.121212,0.515152,16.0,46.471895,260,-8.47,102.5,111.0,...,84.0,83.0,78.0,72.0,70.0,40.0,77.0,79.0,54,72.0
1,32,25,6.906250,0.781250,11.0,58.683864,67,11.65,111.7,100.0,...,10.0,-7.0,-10.0,21.0,19.0,6.0,24.0,-6.0,1,15.0
2,31,20,8.193548,0.645161,11.0,57.291636,49,14.29,117.0,102.7,...,-4.0,-6.0,2.0,-7.0,-1.0,8.0,-2.0,-9.0,-19,-7.0
3,31,16,-0.322581,0.516129,16.0,44.207108,316,-13.50,96.8,110.3,...,31.0,61.0,15.0,58.0,39.0,54.0,51.0,48.0,22,56.0
4,34,19,2.382353,0.558824,9.0,58.317251,51,13.98,108.5,94.5,...,-1.0,29.0,19.0,9.0,22.0,8.0,18.0,16.0,33,15.0

In [9]:
sub_sample = pd.read_csv(COMP  + "SampleSubmissionStage2.csv")
sub_sample.shape, sub_sample.head()

((131407, 2),
                ID  Pred
 0  2025_1101_1102   0.5
 1  2025_1101_1103   0.5
 2  2025_1101_1104   0.5
 3  2025_1101_1105   0.5
 4  2025_1101_1106   0.5)

In [10]:
def extract_and_sort_teams(row):
    year, team1, team2 = row.split('_')
    team1, team2 = int(team1), int(team2)
    return pd.Series({
        'Season': int(year),
        'Team1': min(team1, team2),
        'Team2': max(team1, team2)
    })

# Assuming your DataFrame is named 'df' and the column is named 'column'
sub_sample[['Season','FirstID', 'SecondID']] = sub_sample['ID'].apply(extract_and_sort_teams)


def split_dataframe_by_teamid(df):
    # Ensure TeamID is a string type
    df['FirstID'] = df['FirstID'].astype(str)
    
    # Create two separate DataFrames
    df_1 = df[df['FirstID'].str.startswith('1')]
    df_3 = df[df['FirstID'].str.startswith('3')]
    
    return df_1, df_3

Men_sub, women_sub = split_dataframe_by_teamid(sub_sample)
Men_sub['FirstID'] = Men_sub['FirstID'].astype(int)
women_sub['FirstID'] = women_sub['FirstID'].astype(int)

/var/folders/f3/6g16gz657njbldzfkk6xpjj00000gn/T/ipykernel_55499/3879327451.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Men_sub['FirstID'] = Men_sub['FirstID'].astype(int)
/var/folders/f3/6g16gz657njbldzfkk6xpjj00000gn/T/ipykernel_55499/3879327451.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  women_sub['FirstID'] = women_sub['FirstID'].astype(int)

In [11]:
Men_sub

                   ID  Pred  Season  FirstID  SecondID
0      2025_1101_1102   0.5    2025     1101      1102
1      2025_1101_1103   0.5    2025     1101      1103
2      2025_1101_1104   0.5    2025     1101      1104
3      2025_1101_1105   0.5    2025     1101      1105
4      2025_1101_1106   0.5    2025     1101      1106
...               ...   ...     ...      ...       ...
66061  2025_1477_1479   0.5    2025     1477      1479
66062  2025_1477_1480   0.5    2025     1477      1480
66063  2025_1478_1479   0.5    2025     1478      1479
66064  2025_1478_1480   0.5    2025     1478      1480
66065  2025_1479_1480   0.5    2025     1479      1480

[66066 rows x 5 columns]

In [12]:
women_sub

                    ID  Pred  Season  FirstID  SecondID
66066   2025_3101_3102   0.5    2025     3101      3102
66067   2025_3101_3103   0.5    2025     3101      3103
66068   2025_3101_3104   0.5    2025     3101      3104
66069   2025_3101_3105   0.5    2025     3101      3105
66070   2025_3101_3106   0.5    2025     3101      3106
...                ...   ...     ...      ...       ...
131402  2025_3477_3479   0.5    2025     3477      3479
131403  2025_3477_3480   0.5    2025     3477      3480
131404  2025_3478_3479   0.5    2025     3478      3479
131405  2025_3478_3480   0.5    2025     3478      3480
131406  2025_3479_3480   0.5    2025     3479      3480

[65341 rows x 5 columns]

In [13]:
Team_data_source = Team_data_source.drop(columns=['Unnamed: 0'])

In [14]:
#This is for training

def create_merged_features(target_df, features_df):
    # Merge Team1 features
    merged = pd.merge(
        target_df,
        features_df.add_prefix('Team1_'),
        left_on=['Season', 'FirstID'],
        right_on=['Team1_Season', 'Team1_TeamID'],
        how='left'
    )
    
    # Merge Team2 features
    merged = pd.merge(
        merged,
        features_df.add_prefix('Team2_'),
        left_on=['Season', 'SecondID'],
        right_on=['Team2_Season', 'Team2_TeamID'],
        how='left'
    )
    
    # Clean up merge columns
    merged = merged.drop(columns=[
        'Team1_Season', 'Team1_TeamID', 
        'Team2_Season', 'Team2_TeamID'
    ])
    
    return merged

# Usage
concatenated_features_df = create_merged_features(Men_sub, Team_data_source)
concatenated_features_df

,ID,Pred,Season,FirstID,SecondID,Team1_TeamName,Team1_count,Team1_win_count,Team1_gap_avg,Team1_win_rate,...,Team2_PGH,Team2_BBT,Team2_BIH,Team2_TRP,Team2_DII,Team2_MOR,Team2_TRK,Team2_KPK,Team2_RT,Team2_WLK
0,2025_1101_1102,0.5,2025,1101,1102,Abilene Chr,29,13,-3.448276,0.448276,...,312,334,334,304,285,310,289,331,323,319
1,2025_1101_1103,0.5,2025,1101,1103,Abilene Chr,29,13,-3.448276,0.448276,...,62,68,68,106,109,111,100,66,74,87
2,2025_1101_1104,0.5,2025,1101,1104,Abilene Chr,29,13,-3.448276,0.448276,...,5,6,6,5,5,5,5,5,6,5
3,2025_1101_1105,0.5,2025,1101,1105,Abilene Chr,29,13,-3.448276,0.448276,...,353,356,355,358,357,359,358,353,357,353
4,2025_1101_1106,0.5,2025,1101,1106,Abilene Chr,29,13,-3.448276,0.448276,...,239,284,251,279,282,253,274,213,299,247
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66061,2025_1477_1479,0.5,2025,1477,1479,East Texas A&M,31,5,-10.516129,0.161290,...,310,325,306,342,347,312,333,308,339,327
66062,2025_1477_1480,0.5,2025,1477,1480,East Texas A&M,31,5,-10.516129,0.161290,...,348,351,347,348,346,352,343,344,342,347
66063,2025_1478_1479,0.5,2025,1478,1479,Le Moyne,30,7,-9.466667,0.233333,...,310,325,306,342,347,312,333,308,339,327
66064,2025_1478_1480,0.5,2025,1478,1480,Le Moyne,30,7,-9.466667,0.233333,...,348,351,347,348,346,352,343,344,342,347
66065,2025_1479_1480,0.5,2025,1479,1480,Mercyhurst,28,12,-5.964286,0.428571,...,348,351,347,348,346,352,343,344,342,347

In [16]:

def create_differential_features(features_df):
    # Get columns to subtract (excluding TeamName)
    cols_to_subtract = [col for col in features_df.columns if col.startswith('Team1_') and col != 'Team1_TeamName']
    
    for col in cols_to_subtract:
        team2_col = col.replace('Team1_', 'Team2_')
        diff_col = col.replace('Team1_', 'Diff_')
        
        # Convert to numeric, coerce errors to NaN
        features_df[col] = pd.to_numeric(features_df[col], errors='coerce')
        features_df[team2_col] = pd.to_numeric(features_df[team2_col], errors='coerce')
        
        # Perform subtraction, handling NaN values
        features_df[diff_col] = features_df[col].subtract(features_df[team2_col], fill_value=np.nan)
    
    cols_to_keep = ['ID', 'FirstID', 'SecondID', 'Season']
    # Select columns to keep
    cols_to_keep = (cols_to_keep + 
                    ['Team1_TeamName', 'Team2_TeamName'] + 
                    [col for col in features_df.columns if col.startswith('Diff_')])
    
    # Create final dataframe
    result = features_df[cols_to_keep]
    
    return result
dif_features_df = create_differential_features(concatenated_features_df)

In [17]:
concatenated_features_df = concatenated_features_df.drop(columns=[ 'Pred', 'Season', 'FirstID', 'SecondID', 'Team1_TeamName','Team2_TeamName'])

In [18]:
dif_features_df = dif_features_df.drop(columns=['FirstID', 'SecondID', 'Season', 'Team1_TeamName',
       'Team2_TeamName'])
dif_features_df.head()

,ID,Diff_count,Diff_win_count,Diff_gap_avg,Diff_win_rate,Diff_Seed,Diff_Rating,Diff_Rk,Diff_NetRtg,Diff_ORtg,...,Diff_PGH,Diff_BBT,Diff_BIH,Diff_TRP,Diff_DII,Diff_MOR,Diff_TRK,Diff_KPK,Diff_RT,Diff_WLK
0,2025_1101_1102,-3,9,8.270474,0.323276,0.0,4.836767,-92,8.36,-1.1,...,-90,-128,-110,-80,-66,-70,-89,-95,-67.0,-95
1,2025_1101_1103,-3,-13,-11.510776,-0.364224,-13.0,-6.687291,121,-11.39,-16.2,...,160,138,156,118,110,129,100,170,182.0,137
2,2025_1101_1104,-4,-12,-13.145246,-0.309300,-2.0,-15.831792,213,-34.46,-28.8,...,217,200,218,219,214,235,195,231,250.0,219
3,2025_1101_1105,0,6,7.137931,0.206897,0.0,11.202299,-141,19.05,5.6,...,-131,-150,-131,-134,-138,-119,-158,-117,-101.0,-129
4,2025_1101_1106,-4,-5,-3.145246,-0.097179,-16.0,4.904556,-54,4.79,-3.7,...,-17,-78,-27,-55,-63,-13,-74,23,-43.0,-23

In [19]:
M_final_feat = dif_features_df.merge(concatenated_features_df, on='ID', how = 'right')

In [20]:
W_Feat=  pd.read_csv('/Users/jimmyhe/Desktop/ML/KaggleCompetitions/NCAA/Train_Set/WOMEN/flaty_elo_W.csv')
W_Feat['Seed'] = W_Feat['Seed'].fillna(0)
W_target = pd.read_csv('/Users/jimmyhe/Desktop/ML/KaggleCompetitions/NCAA/ModelBuilding/WTarget.csv')
W_Feat  = W_Feat.drop(columns='TeamName')
# concatenated_w = create_merged_features(W_target, W_Feat)
# W_concatenated_features_df_2025 = create_merged_features(women_sub, W_Feat)
W_target

     Unnamed: 0              ID  Target  FirstID  SecondID  Season
0          2117  2018_1254_1347       0     1254      1347    2018
1          2118  2018_1382_1417       1     1382      1417    2018
2          2119  2018_1113_1393       0     1113      1393    2018
3          2120  2018_1300_1411       0     1300      1411    2018
4          2121  2018_1104_1439       1     1104      1439    2018
..          ...             ...     ...      ...       ...     ...
396        2513  2024_1181_1301       0     1181      1301    2024
397        2514  2024_1345_1397       1     1345      1397    2024
398        2515  2024_1104_1163       0     1104      1163    2024
399        2516  2024_1301_1345       0     1301      1345    2024
400        2517  2024_1163_1345       1     1163      1345    2024

[401 rows x 6 columns]

In [21]:
women_sub

                    ID  Pred  Season  FirstID  SecondID
66066   2025_3101_3102   0.5    2025     3101      3102
66067   2025_3101_3103   0.5    2025     3101      3103
66068   2025_3101_3104   0.5    2025     3101      3104
66069   2025_3101_3105   0.5    2025     3101      3105
66070   2025_3101_3106   0.5    2025     3101      3106
...                ...   ...     ...      ...       ...
131402  2025_3477_3479   0.5    2025     3477      3479
131403  2025_3477_3480   0.5    2025     3477      3480
131404  2025_3478_3479   0.5    2025     3478      3479
131405  2025_3478_3480   0.5    2025     3478      3480
131406  2025_3479_3480   0.5    2025     3479      3480

[65341 rows x 5 columns]

In [22]:
def create_differential_features_women(features_df):
    # Identify columns to calculate differences
    cols_to_subtract = [col for col in features_df.columns if col.startswith('Team1_') and col.replace('Team1_', 'Team2_') in features_df.columns]
    
    # Calculate differences
    differences = {}
    for col in cols_to_subtract:
        team2_col = col.replace('Team1_', 'Team2_')
        diff_col = col.replace('Team1_', 'Diff_')
        
        # Convert to numeric, coerce errors to NaN
        features_df[col] = pd.to_numeric(features_df[col], errors='coerce')
        features_df[team2_col] = pd.to_numeric(features_df[team2_col], errors='coerce')
        
        # Perform subtraction, handling NaN values
        differences[diff_col] = features_df[col].subtract(features_df[team2_col], fill_value=np.nan)
    
    # Create a dataframe for the differences
    differences_df = pd.DataFrame(differences)
    
    # Concatenate the differences to the original dataframe
    result = pd.concat([features_df, differences_df], axis=1)
    
    return result

W_dif_features_df = create_differential_features_women(W_concatenated_features_df)
W_dif_features_df

NameError: name 'W_concatenated_features_df' is not defined